<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Technical Demo">
        <meta name="author" content="Mark Litwintschik">
    
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="header"></div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="lib/jquery-1.7.2.min.js"></script>
        <script src="lib/underscore-min.js"></script>
        <script src="lib/backbone-min.js"></script>

        <script src="js/utils.js"></script>
        <script src="js/models/employeemodel.js"></script>
        <script src="js/models/loginmodel.js"></script>
        <script src="js/views/header.js"></script>
        <script src="js/views/home.js"></script>
        <script src="js/views/contact.js"></script>
        <script src="js/views/employeelist.js"></script>
        <script src="js/views/employeedetails.js"></script>
        <script src="js/views/login.js"></script>
        
        <script src="js/main.js"></script>
    </body>
</html>