<%
if(loggedIn)
{
    %>
    <div class="alert alert-success">
      <h4 class="alert-heading">Logged in</h4>
      You're logged in
    </div>
    <%
}
else
{
    %>
    <div class="alert alert-warning">
      <h4 class="alert-heading">Not logged in</h4>
      You're not logged in.
      <% if(lastFailure) { %>
          <%= lastFailure %>
      <% } %>
    </div>
    <%
}
%>

<form class="well form-inline" action="/home/login/">
  <input type="text" class="input-small" placeholder="Your username" name="username">
  <input type="password" class="input-small" placeholder="Your password" name="password">
  <label class="checkbox">
    <input type="checkbox"> Remember me
  </label>
  <button type="submit" class="btn login_submit">Sign in</button>
</form>